<div class="dropdown">
	<a data-toggle="dropdown" href="#">Sort By <%= fa_icon 'angle-down' %></a>
   <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		<p class="info ml5"><%= fa_icon 'dashboard' %> Distance</p>
	 <li class="divider"></li>
		<p class="info ml5"><%= fa_icon 'exclamation' %> Popularity</p>
	 <li class="divider"></li>
		<p class="info ml5"><%= fa_icon 'flag' %> </p>
   </ul>
</div>