<% provide(:title, 'All Clubs') %>
<div class="row">
  <div class="col-sm-3">
  <div class="panel panel-default">
    <div class="panel-heading p5">
      <%= fa_icon 'search' %> Search Clubs
    </div>
    <div class="panel-body">
   </div>
</div>
  </div>
  <div class="col-sm-9">
    <h3 class="list-header">Listing Clubs</h3>
    <%= render 'paginate_clubs' %>
    <ul class="users list-group">
      <%= render @clubs %>
    </ul>
    <%= render 'paginate_clubs' %>
  </div>
</div>