<div class="center jumbotron">
  <h1>Welcome to Streemfeed</h1>

  <h2>
    Some kind of witty tagline here.
  </h2>

  <%= link_to "Sign up now!", signup_path , class: "btn btn-large btn-primary" %>
</div>

