<div class="center jumbotron">
  <h1>Welcome to Streemfeed!</h1>

  <h2>
    This is the home of the sample application
  </h2>

  <%= link_to "Sign up now!", signup_path , class: "btn btn-large btn-primary" %>
</div>

