    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
     <%= render 'users/buddy_list' %>
   </section>
   <section>
    <%= render 'shared/points' %>
  </section>
  <section>
     <%= render 'shared/feed' %>
   </section>