<% provide(:title, 'All Users') %>
<div class="row">
	<div class="col-sm-3">
		<div class="panel panel-default">
			<div class="panel-heading p5">
				<%= fa_icon 'search' %> Search People

			</div>
			<div class="panel-body">
														<form>
					
							<div class="form-group form-group-sm">
								<input type="text" class="form-control" placeholder="Search">
							</div>
							<button type="submit" class="btn btn-lg btn-primary">Go</button>
						</form>
			</div>
		</div>
	</div>
	<div class="col-sm-9">
		<%= render 'paginate_users' %>
		<h3 class="list-header">Listing Users</h3>
		<ul class="users list-group">
			<%= render @users %>
		</ul>
		<%= render 'paginate_users' %>
	</div>
</div>